10.zip
Diagrama_Escenario_.drawio.pdf
document.pdf
Performing Data Analytics on the Flights Delay dataset using the Polars Library by Wei-Meng Lee Towards Data Science.pdf
Lab_3.zip
hotel_bookings.csv
Script_banco.sql
Datasets_proyecto/Propuesta 1/Real_Estate_Sales_2001-2020_GL.csv
Datasets_proyecto/Propuesta 2/dlportfolio-by-age.xls
Datasets_proyecto/Propuesta 2/portfolio-by-age.xls
Datasets_proyecto/Propuesta 2/portfoliobyloantype.xls
Datasets_proyecto/Propuesta 2/portfoliosummary.xls
Datasets_proyecto/Propuesta 3/Motor_Vehicle_Collisions_-_Crashes.csv
escenario/__MACOSX/escenario/._escec.cfg
escenario/__MACOSX/escenario/._escenario.ipynb
escenario/__MACOSX/escenario/._sql_queries.py
escenario/escenario/escec.cfg
escenario/escenario/escenario.ipynb
escenario/escenario/sql_queries.py
escenario/escenario/SQLQuery_1.sql
escenario/escenario/__pycache__/sql_queries.cpython-311.pyc
Lab_3/__MACOSX/Lab_3/._.DS_Store
Lab_3/__MACOSX/Lab_3/._Lab_3_Numpy_Pandas_Matplotlib.pdf
Lab_3/__MACOSX/Lab_3/._NucleosPoblacion.csv
Lab_3/Lab_3/.DS_Store
Lab_3/Lab_3/Lab_3_Numpy_Pandas_Matplotlib.pdf
Lab_3/Lab_3/NucleosPoblacion.csv
Lecc10/10/create_dw_query.py
Lecc10/10/dw_v.ipynb
Lecc10/10/escec.cfg
Lecc10/10/conversion_divisas.xlsx
Datasets_proyecto/SQL_TABLAS.ipynb
escenario.zip
escenario_bancos.ipynb
Lecc10/10/escenario.ipynb
Lecc10/10/sql_queries.py
Lecc10/10/__pycache__/create_dw_query.cpython-311.pyc
Lecc10/__MACOSX/10/._conversion_divisas.xlsx
Lecc10/__MACOSX/10/._create_dw_query.py
Lecc10/__MACOSX/10/._dw_v.ipynb
Lecc10/__MACOSX/10/._escec.cfg
Lecc10/__MACOSX/10/._escenario.ipynb
Lecc10/__MACOSX/10/._sql_queries.py
Leccion9/__MACOSX/escenario/._.DS_Store
Leccion9/__MACOSX/escenario/._escec.cfg
Leccion9/__MACOSX/escenario/._escenario.ipynb
Leccion9/__MACOSX/escenario/._sql_queries.py
Leccion9/escenario/.DS_Store
Leccion9/escenario/dw_secc.ipynb
Leccion9/escenario/escec.cfg
Leccion9/escenario/escenario.ipynb
Leccion9/escenario/sql_queries.py
Leccion9/escenario/__pycache__/sql_queries.cpython-311.pyc
Proyecto/archive (13).zip
Proyecto/dim_year.xlsx
Proyecto/fact_sales.xlsx
Proyecto/Proyecto_Final_original.ipynb
Proyecto/__pycache__/sql_queries.cpython-311.pyc
Proyecto/archive (13)/vgsales.csv
Proyecto/escec2.cfg
